---
layout: default
---
<div class="home">
  
  <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
      <h1>{{ post.title }}</h1>
      <p class="author">
         <span class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{% assign d = post.date | date: "%-d"  %}{{ post.date | date: "%B" }} {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ post.date | date: "%Y" }}</time></span>
      </p>
      <div class="content">
        {{ post.content }}
      </div>
        <div class="post-footer">
          {% if post.tags != null %}
            <br>
            <p class="post-tag small"><span class="post-tag-label">Tags: </span>{% for tag in post.tags %}<a href="{{tag | downcase | replace:" ","-" | prepend: '/tags/'}}">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}{% endfor %}</p>
          {% endif %}
        </div>
    {% endfor %}

  <p class="rss-subscribe small">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

<!-- Pager links -->
<nav class="text-left">
  <ul class="pagination">
  {% if paginator.previous_page %}
    <li><a class="grow" href="{{ paginator.previous_page_path }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
  {% endif %}
  
  {% if paginator.next_page %}
    <li><a class="grow" href="{{ paginator.next_page_path }}">Next <span aria-hidden="true">&rarr;</span></a></li>
  {% endif %}
  </ul>
</nav>