<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toggle-content" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="toggle-content">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu">
              {% for my_page in site.pages %} {% if my_page.title %}
              <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li> {% endif %} {% endfor %}
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Websites <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://teach.colestock.com" title="James Colestock's Teacher Website">Teacher Website</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://code.colestock.com" title="Programming Class Website">Programming</a></li>
            <li><a href="http://gamedev.colestock.com" title="Game Development Class Website">Game Development</a></li>
            <li><a href="http://webdev.colestock.com" title="Web Development Class Website">Web Development</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://www.youtube.com" title="James Colestock's YouTube Channel">YouTube Channel</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://teach.quizdini.com/">Quizdini</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>